*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: #393838;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer p{
    color: #ffffff;
   
}