*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #680042;
    height: 12vh;
    
}

.nav{
    text-decoration: none;
    color: #ffffff;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
}

li{
    list-style: none;
    padding: 0.5% 0 0 0;
    
}

.btn-login{
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
    
}

.img-login{
    float: right;
    margin: 0.2% 2% 0 0;
}